BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
ContinuationIndentWidth: 8
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlwaysBreakAfterDefinitionReturnType: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
IndentCaseLabels: false
PenaltyBreakOpenParenthesis: 100
PenaltyReturnTypeOnItsOwnLine: 500
SpaceBeforeParens: ControlStatementsExceptControlMacros
ForEachMacros: []
